.custom-stepper {

  .custom-stepper-toggle {
    .fusion-title { padding-left: 40px; }

    .fusion-toggle-icon-wrapper { display: none }

    .fusion-toggle-heading {
      font-size: 1vw;
      strong { font-size: 2vw; }
    }

    .panel-body {
      padding: 0 0 0 40px !important;
    }
  }
}
