@import './vendors/bootstrap/bootstrap.min';
@import './components/toggle.scss';
@import './components/portfolio.scss';
@import './components/footer.scss';

.hidden {
  display: none !important;
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  display: block;
}
